.puzzle-wrap {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 60%;
  min-height: 60vh;
}
.play-time {
  font-size: 2em;
  margin-top: 1em;
}

.puzzle-wrap ul {
  position: relative;
  min-width: 500px;
  min-height: 400px;
  margin-top: 1em;
  list-style: none;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.puzzle-wrap li {
  width: 100px;
  height: 100px;
}

li {
  background: url("https://placeimg.com/500/400/any");
}

.image1 {
  background-position-x: -100px;
}
.hint {
  margin-left: auto;
  margin-right: 25%;
  visibility: hidden;
}
.complete-message {
  position: absolute;
  z-index: 100;
  top: 50%;
  font-size: 3rem;
  font-weight: 600;
  background-color: inherit;
  border-radius: 5px;
  color: black;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.9);
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: none;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
