.frame {
  margin: 20px auto;
  width: 500px;
  height: 600px;
  border: 1px solid black;
  overflow: hidden;
}

.video-wrapper {
  margin: 20px auto;
  width: 500px;
  height: 600px;
}

.video {
  margin: 20px auto 0 auto;
  padding: 10px;
  width: 450px;
  height: 570px;
  border: 1px solid black;
}
